reader:
  loading_strategy: dataset
  data_type: transaction
  reading_method: local
  local_path: tests/test_dataset/movielens.csv
  rating_type: explicit
  sep: ','
  labels:
    user_id_label: user_id
    item_id_label: item_id
    rating_label: rating
    timestamp_label: timestamp
  side:
    local_path: tests/test_dataset/movielens_side.csv
    sep: ','
  clustering:
    user_local_path: tests/test_dataset/movielens_user_cluster.csv
    item_local_path: tests/test_dataset/movielens_item_cluster.csv
    user_sep: ','
    item_sep: ','
writer:
  dataset_name: MovieLens
  writing_method: local
  local_experiment_path: experiment/test/
splitter:
  strategy: temporal_holdout
  test_ratio: 0.1
  val_ratio: 0.1
models:
  EASE:
    optimization:
      strategy: grid
      scheduler: fifo
      properties:
        mode: max
        seed: 42
      device: cpu
      validation_metric: nDCG@10
      #num_samples: 5
      cpu_per_trial: 12
    l2: 10
evaluation:
  top_k: [10, 20, 50]
  metrics: [nDCG, Precision, Recall, HitRate]
general:
  precision: float32
  batch_size: 1024
  verbose: 1
  #recommendation:
  #  save_recs: True
  #  sep: \t
  #  ext: .tsv
  #  k: 50
