reader:
  loading_strategy: dataset
  data_type: transaction
  reading_method: local
  local_path: tests/test_dataset/movielens.csv
  rating_type: explicit
  sep: ','
  labels:
    user_id_label: user_id
    item_id_label: item_id
    rating_label: rating
    timestamp_label: timestamp
writer:
  dataset_name: MovieLens
  writing_method: local
  local_experiment_path: experiment/test/
splitter:
  strategy: random_leave_k_out
  test_k: 5
  val_k: 5
models:
  BPR:
    optimization:
      strategy: grid
      scheduler: fifo
      properties:
        mode: max
        seed: 42
      device: cpu
      validation_metric: nDCG@10
      #num_samples: 20
      cpu_per_trial: 6
    embedding_size: [10, 12, 15]
    epochs: [10, 20, 30, 40]
    learning_rate: [0.001, 0.01]
evaluation:
  top_k: [10, 20, 50]
  metrics: [nDCG, Precision, Recall, HitRate]
general:
  precision: float32
  batch_size: 1024
  verbose: 1
  #recommendation:
  #  save_recs: True
  #  sep: \t
  #  ext: .tsv
  #  k: 50
