data:
  dataset_name: MovieLens
  loading_strategy: dataset
  data_type: transaction
  local_path: tests/test_dataset/movielens.csv
  experiment_path: experiment/test/
  sep: ','
  rating_type: explicit
  batch_size: 1024
  labels:
    user_id_label: user_id
    item_id_label: item_id
    rating_label: rating
    timestamp_label: timestamp
  dtypes:
    user_id_type: int64
splitter:
  strategy: temporal
  validation: True
  ratio: [0.8, 0.1, 0.1]
  save_split: True
  #k: 3
models:
  EASE:
    meta:
      save_model: True
      #keep_all_ray_checkpoints: True
      implementation: elliot
    optimization:
      strategy: hopt
      scheduler: fifo
      properties:
        mode: max
        seed: 42
      validation_metric: nDCG@10
      num_samples: 5
      cpu_per_trial: 2
    l2: ['uniform', 5, 100]
  #Slim:
  #  l1: [0.1, 0.2, 0.5]
  #  alpha: [0.1, 0.2, 0.5]
evaluation:
  top_k: [10, 20, 50]
  metrics: [nDCG, Precision, Recall, HitRate, EFD, EPC]
  beta: 0.5
  long_tail_threshold: 0.8
general:
  seed: 42
  float_digits: 8
  device: cpu
  precision: float64
  max_eval: 10
  recommendation:
    save_recs: True
    sep: \t
    ext: .tsv
    k: 50
