reader:
  loading_strategy: dataset
  data_type: transaction
  reading_method: local
  local_path: tests/test_dataset/movielens.csv
  rating_type: explicit
  sep: ','
  labels:
    user_id_label: user_id
    item_id_label: item_id
    rating_label: rating
    timestamp_label: timestamp
  dtypes:
    user_id_type: str
    item_id_type: str
writer:
  dataset_name: MovieLens
  writing_method: local
  local_experiment_path: experiment/test/
  setup_experiment: True
  save_split: True
  result:
    sep: ','
    ext: '.csv'
splitter:
  strategy: temporal
  test_ratio: 0.1
  val_ratio: 0.1
models:
  EASE:
    meta:
      #save_model: True
      #keep_all_ray_checkpoints: True
      implementation: elliot
    optimization:
      strategy: hopt
      scheduler: fifo
      properties:
        mode: max
        seed: 42
      validation_metric: nDCG@10
      num_samples: 5
      cpu_per_trial: 12
    l2: ['uniform', 5, 100]
  #Slim:
  #  l1: [0.1, 0.2, 0.5]
  #  alpha: [0.1, 0.2, 0.5]
evaluation:
  top_k: [10, 20, 50]
  metrics: [nDCG, Precision, Recall, HitRate]
  beta: 1
  pop_ratio: 0.8
general:
  seed: 42
  float_digits: 8
  device: cpu
  precision: float64
  max_eval: 10
  recommendation:
    save_recs: True
    sep: \t
    ext: .tsv
    k: 50
